# Created by https://www.gitignore.io/api/c++,windows

#Directory
alospot/Debug/
alospot/alospot/Debug/

#files
*.log
*.tlog

Monitor
*.zip
### Histor ###
#*.~*~


### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bak

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
GGBms.h
wzCoordCvt.h
wzRWLock.h
MtPacket*.*


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# End of https://www.gitignore.io/api/c++,windows